@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

body {
  background-color: #000000;
  color: #ffffff;
  font-family: "Roboto", sans-serif;
}

section.section-home {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
}

li {
  margin: 1.4rem 0.5rem;
}

a {
  color: #ffffff;
}

i:hover {
  color: #d3d3d3;
}

/* Anime CSS */
.ml10 .letter {
  display: inline-block;
  transform-origin: 0 0;
}
