{% extends "base.html" %} {% block content %}
<section class="section-home">
  <div class="text-center">
    <h1>Cris-aian Vergara</h1>
    <div class="ml10">
      <h4 class="letters">Python Developer</h4>
    </div>
    <address>
      <i class="fa-solid fa-location-dot me-1"></i> Cagayan, Philippines
    </address>
    <a
      href="{{ url_for('portfolios.portfolio') }}"
      class="btn btn-light mx-1 rounded-0"
      >Portfolio</a
    >
    <button class="btn btn-outline-light mx-1 rounded-0">Resume</button>
  </div>
</section>
{% endblock %}
