{% extends "base.html" %} {% block content %}
<section class="section-portfolio">
  <div class="d-flex flex-row flex-wrap justify-content-center">
    <div class="card border-0 m-4 bg-transparent" style="width: 16rem">
      <div class="card-body">
        <img
          src="https://images.pexels.com/photos/2028261/pexels-photo-2028261.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
          class="card-img-top rounded-0"
          alt=""
        />
      </div>
      <div class="card-footer">
        <h5 class="card-title mb-0">Kris Kap</h5>
      </div>
    </div>
    <div class="card border-0 m-4 bg-transparent" style="width: 16rem">
      <div class="card-body">
        <img
          src="https://images.pexels.com/photos/2028261/pexels-photo-2028261.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
          class="card-img-top rounded-0"
          alt=""
        />
      </div>
      <div class="card-footer">
        <h5 class="card-title mb-0">Sulat Aian</h5>
      </div>
    </div>
    <div class="card border-0 m-4 bg-transparent" style="width: 16rem">
      <div class="card-body">
        <img
          src="https://images.pexels.com/photos/2028261/pexels-photo-2028261.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
          class="card-img-top rounded-0"
          alt=""
        />
      </div>
      <div class="card-footer">
        <h5 class="card-title mb-0">Online Payroll</h5>
      </div>
    </div>
    <div class="card border-0 m-4 bg-transparent" style="width: 16rem">
      <div class="card-body">
        <img
          src="https://images.pexels.com/photos/2028261/pexels-photo-2028261.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
          class="card-img-top rounded-0"
          alt=""
        />
      </div>
      <div class="card-footer">
        <h5 class="card-title mb-0">Weather App</h5>
      </div>
    </div>
    <div class="card border-0 m-4 bg-transparent" style="width: 16rem">
      <div class="card-body">
        <img
          src="https://images.pexels.com/photos/2028261/pexels-photo-2028261.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
          class="card-img-top rounded-0"
          alt=""
        />
      </div>
      <div class="card-footer">
        <h5 class="card-title mb-0">Social Network</h5>
      </div>
    </div>
    <div class="card border-0 m-4 bg-transparent" style="width: 16rem">
      <div class="card-body">
        <img
          src="https://images.pexels.com/photos/2028261/pexels-photo-2028261.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
          class="card-img-top rounded-0"
          alt=""
        />
      </div>
      <div class="card-footer">
        <h5 class="card-title mb-0">Quiz Wapp</h5>
      </div>
    </div>
    <div class="card border-0 m-4 bg-transparent" style="width: 16rem">
      <div class="card-body">
        <img
          src="https://images.pexels.com/photos/2028261/pexels-photo-2028261.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
          class="card-img-top rounded-0"
          alt=""
        />
      </div>
      <div class="card-footer">
        <h5 class="card-title mb-0">Snake Game</h5>
      </div>
    </div>
    <div class="card border-0 m-4 bg-transparent" style="width: 16rem">
      <div class="card-body">
        <img
          src="https://images.pexels.com/photos/2028261/pexels-photo-2028261.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
          class="card-img-top rounded-0"
          alt=""
        />
      </div>
      <div class="card-footer">
        <h5 class="card-title mb-0">Tetris</h5>
      </div>
    </div>
  </div>
</section>
{% endblock %}
