{% extends "base.html" %} {% block content %}
<section class="section-protfolio">
  <div class="container">
    <div class="card bg-dark img-fixed" style="width: 18rem">
      <img
        src="https://images.pexels.com/photos/15326426/pexels-photo-15326426.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
        class="card-img-top"
        alt="..."
      />
      <div class="card-body">
        <h5 class="card-title text-center">Card title</h5>
      </div>
    </div>
  </div>
</section>
{% endblock %}
